* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* Navbar */
header {
  background: #222;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  color: white;
  border: none;
}


.order-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #222;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}


/* Hero */
.hero {
  background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092")
              no-repeat center center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 12px;
}

.order-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #f4b41a;
  color: #222;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}


/* Menu */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin: 30px auto;
  max-width: 1100px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.card span {
  display: block;
  margin: 10px 0 15px;
  font-weight: bold;
  color: #f4b41a;
  font-size: 18px;
}


/* About 
.about {
  padding: 50px 20px;
  background: #fafafa;
  text-align: center;
}

.about p{
    text-align: left;

}*/


.about {
  padding: 50px 20px;
  background: #f9f9f9;
  text-align: center;
}

.about-box {
  max-width: 800px;
  margin: 20px auto;
  background: #812c2c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Contact */
.contact {
  padding: 50px 20px;
  text-align: center;
}

.contact form {
  max-width: 400px;
  margin: auto;
}

.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.contact button {
  padding: 10px;
  background: #222;
  color: white;
  border: none;
  width: 100%;
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #222;
    width: 100%;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-btn {
    display: block;
  }
}
